export API_KEY_ETHERSCAN="YOUR_API_KEY_ETHERSCAN"
export API_KEY_ARBISCAN="YOUR_API_KEY_ARBISCAN"
export MNEMONIC="smart turkey staff ask jeans polar kidney test spatial curtain grass amazing"
export FOUNDRY_PROFILE="default"
